.container {
  margin: 0 auto;
  width: 400px;
}

.contacts__container {
  padding: 16px 20px;

  border: 1px solid #000;
  border-radius: 12px;
  background-color: #e7e7e7;
}

.title {
  font-size: 24px;
}
